html,body{
    display: grid;
}
canvas {
    /*border:1px solid #d3d3d3;*/
    background-color: #f1f1f1;
}
.game-starter{
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    
}
.close{
    grid-column-start: 2;
    justify-self: end;
    margin: 0 10px 0 0;

}
.game-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    display: none;
}
.canvas-wrapper{
    min-height: 50vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column-start: span 2;
}
.player_details{
    width: 100%;
    text-align: center;
}
.fire-button{

}
.range {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }