html,body{
    display: grid;
    box-sizing: border-box;
}
canvas {
    /*border:1px solid #d3d3d3;*/
    background-color: #f1f1f1;
}
.game-starter{
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    
}
.start_buttons{
    width: 100px;
    margin: 7px;
}
.close{
    grid-column-start: 2;
    justify-self: end;
    margin: 0 10px 0 0;
    width: 30px !important;
    height: 25px !important;
}
.fill_player_details{
    display: none;
    justify-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 50% 50%;
    padding: 15px;
}
.player_details_get{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
}
.all_radio_container{
}
.radio_container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-right:10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .radio_container .radio_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio_container input:checked ~ .checkmark:after {
    display: block;
  }
  .radio_container .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: black;
}
.red{
    background-color:#D92929;
}
.yellow{
    background-color: #D9BD29;
}
.blue{
    background-color: #094363;
}
.green{
    background-color: #225821;
}
.next_weapon{
    grid-row-start: 5;
}
.weapon_select{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    grid-template-rows: 5% 95%;
    padding: 15px;
}
.player1_weapons{
    grid-column-start: 1;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    padding: 15px;
    width: 100%;
    justify-items: center;
}
.weapon_name{
    margin: 15px 0;
    padding: 0;
    border: 2px solid black;
    height: 30px;
    width: 125px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 80% 20%;
}
.weapon_list{
    grid-column-start: 2;
    display: grid;
    justify-items: center;
    grid-template-rows: 15% 85%;
    width: 100%;
}
.right{
    grid-column-start: 3;
}
.player2_weapons{
    grid-column-start: 3;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    padding: 15px;
    width: 100%;
    justify-items: center;
}
.weapon_sel_container{
    margin: 5px;
    padding: 0;
    border: 1px solid black;
    height: 28px;
    width: 110px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 80% 20%;
}
.weapon_selector{
    width: 100%;
    background-color: #f1f1f1;
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
}
.weapon_image{
    margin: 0;
    padding: 0;
    display: inline;
}
.game-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    background-color: #f1f1f1;
    width: 1000px;
    justify-self: center;
    height: 600px;
    display: none;
}
.canvas-wrapper{
    min-height: 50vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column-start: span 2;
}
.player_details{
    width: 100%;
    text-align: center;
}
.fire-button{

}
.bottom_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_container > div{
    margin: 10px;
}
.img_weapon_container{
    border: 1px solid black;
    display: flex;
}
.show_weapon{
    width: 20px;
    height: 20px;
    border-left: 1px solid black;
}
.range {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }

  .overlay-container{
      width: 100%;
      height: 600px;
      z-index: 5;
      justify-items: center;
      align-content: center;
      position: fixed;
      display: grid;
      margin: 0;
      padding: 0;
      display: none;
  }
  .overlay{
    width: 1000px;
    height: 600px;
    z-index: 100;
    justify-items: center;
    align-content: center;
    justify-self: center;
    display: grid;
    color: #000;
}

.super_button{
    z-index: 15;
}

.center{
    text-align: center;
}